* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 255, 255);
    max-width: 390px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    background-color: white;
    border-bottom: 2px solid #ddd;
}

.icon {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #f5de4c;
    border-radius: 5px;
}

.search input {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 200px;
    background-color: #f9f9f9;
}

.main h1 {
    font-size: 22px;
    font-weight: 600;
}

.ad {
    background-color: #f5de4c;
    color: rgb(0, 0, 0);
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

.year {
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    display: block;
    padding: 8px;
    border-bottom: 1px solid #4e4e4e;
}

.main {
    padding: 16px;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 12px;
    background: #ffffff;
}

.card-left {
    flex: 1;
    margin-right: 12px;
}

.title {
    font-weight: 600;
    margin-bottom: 3px;
    font-size: 17px;
    line-height: 1.2;
}

.subtitle {
    color: #555558;
    font-size: 15px;
}

.dates {
    color: #6c6c6e;
    font-size: 15px;
    white-space: nowrap;
}

.bottom_navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    border-bottom: none;
    border-top: 1px solid #e5e5ea;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    max-width: 390px;
    margin: 0 auto;
}

.nav svg,
.nav-active svg {
    fill: #000000;
}

.nav-active {
    color: #007aff;
}

.nav-active svg {
    fill: #007aff;
}

.hero {
    position: relative;
    height: 20vh;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay-block {
    position: absolute;
    bottom: -40px;
    left: 50px;
    right: 50px;
    background-color: #d5d5d5;
    border-radius: 12px;
    padding: 40px;
    text-align: center;
}

.overlay-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

.overlay-date {
    font-size: 1rem;
    color: #666;
    text-align: left;
    margin: 0;
}

.expenses{
    padding: 0 16px;
}

.expenses_header{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.expenses_title{
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 15px;
}

.expenses_filters{
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 8px;
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
}

.filter_item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.expense_list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
}

.expense_item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.expense_item_main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.expense_item_header {
    display: flex;
    align-items: center;
    gap: 8px;

}

.expenses_item_number {
    font-size: 1rem;
    color: #000000;
    font-weight: 500;
    min-width: 20px;
}
.expense_item_name {
    font-size: 1rem;
    color: #000000;
    font-weight: 500;
    line-height: 1.4;
}

.expense_item_date {
    font-size: 0.85rem;
    color: #525252;
    font-weight: 400;
    margin-left: 16px; 
}

.expense_item_cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
}

.expense_item_amount {
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    
}

.expense_item_receipt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px; 
}

.bot_nav{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    border-top: 1px solid #e5e5ea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    max-width: 390px;
    margin: 0 auto;
}

.my_expenses{
    display: flex;
    align-items: center;
    gap: 8px;
    background: #f5de4c; 
    padding: 8px 20px;
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 25px;
}

.profile_header {
    display: flex;
    align-items: center;
    padding: 20px 16px;
    background-color: white;
    border-bottom: 2px solid #ddd;
    position: relative;
}

.profile_title{
    position: absolute;
    left: 40%;
    font-size: 18px;
    font-weight: 600;
}

.profile_block{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.profile_avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin: auto;
    border: 3px solid #000000;
}

.profile_name{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.profile_item{
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.status{
    margin-left: auto;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f5de4c;
}

.profile_content{
    margin: 8px;
    background-color: #dcdcdc;
    border-radius: 10px;
}

.logreg_title{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20%;
    margin-bottom: 20px;
}

.input_field {
    padding: 0 16px;
    width: 100%;
    margin-bottom: 16px;
}

.input_field input{
    width: 100%;
    padding: 14px;
    border: none;
    border-bottom: 2px solid #666666;
    font-size: 14px;
    outline: none;
}

.reg_continue{
    margin-left: 16px;
    margin-right: 16px;
    background-color: #f5de4c;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin-top: 15px;
}

.login_link{
    margin-top: 15px;
    text-align: center;
}

.login_link a{
    color: #007aff;
    font-weight: 500;
}

.header_logreg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
}

.forgot_pass{
    text-align: center;
    margin-top: 10px;
}

.forgot_pass a{
    color: #007aff;
    font-weight: 500;
}




